body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    margin: 0px;
    background-color: #ffffff;


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
html {
    height: -webkit-fill-available;
}
a {
    text-decoration: none;
    color: #5C5C66;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}

#sidenav {
    left:0;
    top:0;
    width: 256px;
}
#sidenav .name {
    margin-top: 56px;
    margin-left: 24px;
}
#sidenav .name h1 {
    /* V2/Sub Heading 02 */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #101043;

}
#sidenav .name h1 {
    /* V2/Sub Heading 02 */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #101043;

}
#sidenav #navitems {
    margin-top: 56px;
}
#sidenav #navitems .navitem {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 24px;

    position: static;
    width: 256px;
    height: 68px;
    left: 0px;
    top: 136px;

    /* neutral-100 */

    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;

}
#sidenav #navitems .navitem:hover {
    /* Auto layout */
    background-color: #F8F8FB;
}
#sidenav #navitems .navitem.active {
    /* Auto layout */
    color: #17171A;
}

#container{
    background-color: #FCFCFC;
    width: 100%;
}
#container .content .title {
    margin-top: 64px;
    margin-left: 48px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}
#container .content .details {
    background-color: #FFFFFF;
    margin-top: 64px;
    margin-left: 40px;
    width: 1584px;
    height: 607px;
    border: 1px solid #F0F0F7;
    box-sizing: border-box;
}

.content {
    display: flex;
    position: relative;
}

.create {
    position: absolute;
    width: 100%;
    display:flex;
    top: 150px;
    justify-content: center;
    text-align: center;
}
.create.off {
    position: absolute;
    width: 100%;
    display:none;
    top: 150px;
    justify-content: center;
    text-align: center;
}
.view.off {
    pointer-events: none;
    opacity: 0.4;
}

.create .create-form {
    position: relative;
    min-height: 100px;
    width: 580px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #F0F0F7;

    /* padding-top: 35px;
    padding-bottom: 35px; */
    padding: 35px 40px 35px 40px;
}

.create .create-form .buttons {
    display: flex;
    margin-left: auto;
    margin-top: 40px;
    font-weight: 500;
    height: 45px;
}
.create .create-form .buttons button {
    margin-left: auto;
    padding: 0 24px 0 24px;
    border-radius: 5px;
    border: none;
    
    color: #737480;
    font-weight: 500;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.create .create-form .buttons button:hover {
    margin-left: auto;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
}

.create .create-form .buttons input {
    background-color: #7800EF;
    padding: 0 24px 0 24px;
    margin-left: 16px;
    width: auto;
    color: #FFFFFF;
    border: none;
}
.create .create-form .buttons input:hover {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
}

.create .create-form .form-field {
    display: flex;
    align-items: center;
    margin: 10px 0;
    line-height: 20px;
}
.create .create-form .field-input {
    width: 384px;
    height: 45px;
    margin-left: auto;
}
.create .create-form input {
    padding-left: 5%;
    
    width: 94%;
    height: 99%;
    
    border-radius: 5px;
    border: 1px solid #cccccc;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
}

.create .create-form .field-input-options {
    width: 384px;
    margin-left: auto;
}

.create .field-input-options .option-checks {
    display: flex;
    flex-wrap: wrap;
    width: 382px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.create .field-input-options .option-checks .option {
    width: 33%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 12px;
    margin-bottom: 12px;
}
.create .field-input-options .option-checks .option input {
    width: 14px;
    height: 14px;
}
.create .field-input-options .option-checks .option .option-name {
    margin-left: 16px;
}

.create .input-wrapper {
    height:100%;
    border-radius: 5px;
    border: 1px solid #cccccc;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px; 
}

.create .input-wrapper.active {

    border: 1px solid #7800EF;
}

/* 
START OF MULTISELECT
*/
.multi-select-container {
    /* display: inline-block; */
    position: relative;

    width: 100%;
    height: 100%;


    height:100%;
    border-radius: 5px;
    border: 1px solid #cccccc;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px; 
}

.multi-select-container.multi-select-container--open {
    border: 1px solid #7800EF;
}

.multi-select-menu {
    position: absolute;
    left: 0;
    top: 0.8em;
    z-index: 1;
    float: left;
    min-width: 100%;
    background: #fff;
    border: 1px solid #aaa;
    display: none;
}

.multi-select-menuitem {
    display: flex;
    font-size: 14px;
    /* white-space: nowrap; */
    align-items: center;
}

.multi-select-menuitem {
    padding-top: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

.multi-select-menuitems label:hover {
    background: #F0F0F7;
}


.multi-select-presets {
    border-bottom: 1px solid #ddd;
}

.multi-select-menuitem input {
    position: relative;
    margin-top: 0.25em;
    margin-right: 16px;
    margin-left: 24px;

}
.create .form-field .field-input .multi-select-menuitem input {
    width: 14px;
    height: 14px;
}

.multi-select-button {
    width:auto;
    height:100%;
    font-size: 14px;
    margin-left: 16px;

    display: flex;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: center;
    border-radius: 4px;
    cursor: default;
}

.multi-select-button:after {
    content: "";
    margin-right: 23px;
    margin-left: auto !important;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4em 0.4em 0 0.4em;
    border-color: #999 transparent transparent transparent;
    margin-left: 0.4em;
    vertical-align: 0.1em;
}

.multi-select-container--open .multi-select-menu {
    display: block;


    box-shadow: none;

    border-radius: 5px;
    margin-top: 40px;
    border: 1px solid #cccccc;
}

.multi-select-container--open .multi-select-button:after {
    border-width: 0 0.4em 0.4em 0.4em;
    border-color: transparent transparent #999 transparent;
}

.multi-select-container--positioned .multi-select-menu {
    /* Avoid border/padding on menu messing with JavaScript width calculation */
    box-sizing: border-box;
}

.multi-select-container--positioned .multi-select-menu label {
    /* Allow labels to line wrap when menu is artificially narrowed */
    white-space: normal;
}


/* 
END OF MULTISELECT
*/



.custom-select {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 0 0;
    /* padding-left: 16px; */
}


/* 
Start CUSTOM SELECT
*/



.custom-select .s-hidden {
    visibility:hidden;
    /* padding-right:10px; */
}
.custom-select .select {
    /* cursor:pointer; */
    display:flex;
    position:relative;

    /* border:1px solid #ccc; */
    width: 100%;
    height: 100%;
    padding-left: 16px;
}
.custom-select .styledSelect {
    position:absolute;
    /* top:0;
    right:0;
    bottom:0;
    left:0; */
    padding:0 10px;
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
}
.custom-select .styledSelect:after {
    content:"";
    width:0;
    height:0;
    border: 5px solid transparent;
    border-color: #999 transparent transparent transparent;
    position:absolute;
    right:0px;
    margin-right: 50px;
}
/* .custom-select .styledSelect:active, .styledSelect.active {
    background-color:#eee;
} */

.custom-select .options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin: 10px 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    border-radius: 5px;
    background-color:white;

}
.custom-select .options li {
    text-align: left;
    padding: 16px 24px !important;
    margin:0 0;
    padding:0 10px;
}
.custom-select .options li:hover {
    background-color:#F0F0F7;
}


/* 
End CUSTOM SELECT
*/




.download-button a {

    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 12px;
    padding: 13px 24px;
    margin-top: 38px;
    margin-right: 56px;

    float: right;

    background: #FFFFFF;
    width: auto;

    color: #7800EF;
    border: 1px solid #7800EF;
    box-sizing: border-box;
    border-radius: 5px;

    font-weight: 400;
}


.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 24px;

    position: absolute;
    width: 96px;
    height: 45px;
    left: 201px;
    top: 248px;

    background: #7800EF;
    border-radius: 5px;
}

button.button-r {
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 12px;
    padding: 13px 24px;
    margin-top: 38px;
    margin-right: 56px;
    width: auto;

    float: right;

    background: #FFFFFF;
    border: 1px solid #7800EF;
    color: #7800EF;
    box-sizing: border-box;
    border-radius: 5px;
}

button:hover.button-r{
    background: rgba(204, 168, 240, 0.2);
}


.content .download img {
    margin-left: 8px;
}

.content .details .table-border {
    min-height: 392px;
    width: 1472px;
    margin: 100px 56px 0px 56px;

    border-bottom: 1px solid #F0F0F7;
}

.content .details table {
    width: 100%;
    border-spacing:0;
    border-collapse: collapse;
    overflow: auto;
}

.content .details table th {
    margin: 0;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #F0F0F7;
    height: 52px;

    white-space: nowrap;
}

.content .details table th .header_update {
    width: 200px;
}
.content .details table th .header_storage {
    width: 300px;
}
.content .details table th .header_report {
    width: 300px;
}
.content .details table th .header_manifest {
    width: 300px;
}


.content .details table td {
    margin: 0;
    padding: 0;
}
.content .details table td .cell {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    text-align: left;
    padding-left: 16px;
    min-height: 68px;
    border-bottom: 1px solid #F0F0F7;
    border-spacing:0;
    border-collapse: collapse;

    overflow-wrap: break-word;
    
}
.content .details table td .cell p {
    padding-left: 10px;
}

.content .details .pagination {
    width: 100%;
    margin: 48px auto 0px auto;

    display:flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content .details .pagination img {
    display:inline-block; 
    margin: 0px 18px;
}

.content .details .pagination .page_number {

    position: relative;
    width: 33px;
    height: 33px;

    margin: 0 12px;
    color: #737480;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content .details .pagination .page_number.selected {
    background-color: #F0F0F7;
    border-radius: 16px;
}


.content .details .pagination .page_number .center {
    justify-content: center;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

}

