<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta name="description" content="Dashboard to handle CUR reports accounts" />
    <meta name="author" content="Jose Simoes | Grumatic" />
    
    <title>
        CUR Extractor tool | Grumatic
    </title>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet" />
    <!-- Latest compiled and minified JavaScript -->
    <link href="{% static '/assets/css/styles.css' %}"
        rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    
    <!-- Fontawesome -->
    <link href="{% static 'assets/css/icons/font-awesome/css/fontawesome.min.css' %}"
        rel="stylesheet" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}


    <script src="{% static '/assets/scripts/form-switch.js' %}" type="text/javascript"></script>
    <script src="{% static '/assets/scripts/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static '/assets/scripts/jquery.multi-select.min.js' %}"></script>

</head>

<body>
    <div id="sidenav">
        <div class="name">
            <h1>CUR EXTRACTOR</h1>
        </div>
        <div id="navitems">
            <ul>
                <li>
                    {% url 'view_storage-info' as input_url %}
                    <a href="{{ input_url }}">
                        <div {% if request.path == input_url %}  class="navitem active" {% else %} class="navitem" {% endif %}>
                            Original CUR Information
                        </div>
                    </a>
                </li>
                <li>
                    {% url 'view_company' as company_url %}
                    <a href="{{ company_url }}">
                        <div {% if request.path == company_url %}  class="navitem active" {% else %} class="navitem" {% endif %}>
                            Payer Accounts
                        </div>
                    </a>
                </li>
                <li>
                    {% url 'view_account' as account_url %}
                    <a href="{{ account_url }}">
                        <div {% if request.path == account_url %}  class="navitem active" {% else %} class="navitem" {% endif %}>
                            Linked Accounts
                        </div>
                    </a>
                </li>
                <li>
                    {% url 'view_report-info' as output_url %}
                    <a href="{{ output_url }}">
                        <div {% if request.path == output_url %}  class="navitem active" {% else %} class="navitem" {% endif %}>
                            Output CUR Information
                        </div>
                    </a>
                </li>
                <li>
                    {% url 'view-cur_updates' as cur_update_url %}
                    <a href="{{ cur_update_url }}">
                        <div {% if request.path == cur_update_url %}  class="navitem active" {% else %} class="navitem" {% endif %}>
                            Original CUR Information
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="logout">
            {% url 'logout' as logout_url %}
            <a href="{{ logout_url }}">
                <div class="navitem" >
                    <img src="{% static '/assets/svg/left-arrow.svg' %}"/> Sign out
                </div>
            </a>
        </div>

    </div>
    <div id="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    {% endblock javascripts %}

</body>
</html>