{% extends 'layout/base2.html' %}

{% load static %}


{% block content %}
<div class="content">
    <div class="cards">
        <div class="card">
            <div class="box">
                <h1>Sample</h1>
                <h3>Sample</h3>
            </div>
            <div class="icon-case">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <h1>Sample</h1>
                <h3>Sample</h3>
            </div>
            <div class="icon-case">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <h1>Sample</h1>
                <h3>Sample</h3>
            </div>
            <div class="icon-case">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <h1>Sample</h1>
                <h3>Sample</h3>
            </div>
            <div class="icon-case">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </div>

    <div class="content-2">
        <div class="recent-payments"></div>
        <div class="new-students"></div>    
        <!-- <div class="recent-payments">
            <div class="tittle">
                <h2>Recent Payments</h2>
                <a href="#" class="btn">View All</a>
            </div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Name</th>
                    <th>Name</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>John</td>
                    <td>John</td>
                    <td><a href="#" class="btn">View</a></td>
                </tr>
            </table>
        </div>
        <div class="new-students">
            <div class="tittle">
                <h2>New Students</h2>
                <a href="#" class="btn">View All</a>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}