{% extends 'layout/base.html' %}

{% load static %}


{% block content %}
<div class="content">
    <div class="listing-table"></div>
        <div class="tittle">
                <h2>Existing Credentials</h2>
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Account ID</th>
                <th>Report Info ID</th>
                <th>Access Key</th>
                <th>Secret Key</th>
            </tr>
            

            {% for credential in credentials %}

            <tr>
                <td>{{credential.id}}</td>
                <td>{{credential.account_id.account_id}}</td>
                <td>{{credential.report_info_id.id}}</td>
                <td>{{credential.access_key}}</td>
                <td>{{credential.secret_key}}</td>
                <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                <td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}