{% extends 'layout/base2.html' %}

{% load static %}


{% block content %}
<div class="content">
    <div class="listing-table"></div>
        <div class="tittle">
                <h2>Existing Report Infos</h2>
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Prefix</th>
                <th>In Use</th>
                <th></th>
                <th></th>
            </tr>
            

            {% for report_info in report_infos %}

            <tr>
                <td>{{report_info.id}}</td>
                <td>{{report_info.name}}</td>
                <td>{{report_info.prefix}}</td>
                <td>{{report_info.in_use}}</td>
                <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                <td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}