<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta name="description" content="Dashboard to handle CUR reports accounts and credentials" />
    <meta name="author" content="Jose Simoes | Grumatic" />
    
    <title>
        CUR Extractor tool | Grumatic
    </title>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <!-- Latest compiled and minified JavaScript -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>



    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="sb-nav-fixed">
        
    {% include 'layout/navigation.html' %}

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">

            <!-- {% include 'layout/sidebar.html' %} -->
            
        </div>
        <div id="layoutSidenav_content">
        
            {% block content %}{% endblock content %}

            <!-- {% include 'layout/footer.html' %} -->
            
        </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> -->

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
        
</body>
</html>