{% extends 'layout/base.html' %}

{% load static %}


{% block content %}
<div class="content">
    <div class="listing-table"></div>
        <div class="tittle">
                <h2>Payer Accounts</h2>
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Linked Accounts</th>
                <th></th>
                <th></th>
            </tr>
            

            {% for payer_account in payer_accounts %}

            <tr>
                <td>
                    {{payer_account.account_id}}
                </td>
                <td>
                    {{payer_account.name}}

                </td>
                <td>
                    {% for linked_account in payer_account.accounts %}
                    <li>
                        <ul><a href="{% url 'view_account' payer_account.account_id %}">{{linked_account.account_id}}</a></ul>
                    </li>
                    {% endfor %}
                </td>
                <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                <td>
                    <a class="btn btn-sm btn-danger" href="/delete-payer-account/{{payer_account.account_id}}/">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}