{% extends 'layout/base.html' %}

{% load static %}


{% block content %}
<div class="content">
    <div class="listing-table"></div>
        <div class="tittle">
                <h2>Existing Report Infos</h2>
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Bucket Name</th>
                <th>Prefix</th>
                <th>Payer Account</th>
                <th>Linked Accounts</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            

            {% for report_info in report_infos %}

            <tr>
                <td>{{report_info.id}}</td>
                <td>{{report_info.name}}</td>
                <td>{{report_info.bucket_name}}</td>
                <td>{{report_info.prefix}}</td>
                <td>{{report_info.payer.account_id}}</td>
                <td>
                    
                
                    {% for linked_account in report_info.list_acounts %}
                        <p>{{linked_account.account_id}}</p>
                    {% endfor %}

                </td>

                <td></td>
                <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                <td>
                    <a class="btn btn-sm btn-danger" href="/delete-report-info/{{report_info.id}}/">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}