{% extends 'layout/base.html' %}

{% load static %}


{% block content %}
<div class="content">

    <div class="view">
        <div class="title">
                <h2>Linked Accounts</h2>
        </div>

        <div class="details">
            <button class="button-r" onclick="changeCreateElementOn()">
                <div class="download">
                    Linked Account Info
                    <img src="{% static '/assets/svg/plus.svg' %}"/>
                </div>
            </button>
            <div class="table-border">
                <table>
                    <tr>
                        <th>
                            <div class="header_no">
                                No.
                            </div>
                        </th>
                        <th>
                            <div class="header_name">
                                Linked Account Name
                            </div>
                        </th>
                        <th>
                            <div class="header_linked_id">
                                Linked Account ID
                            </div>
                        </th>
                        <th>
                            <div class="header_payer_id">
                                Payer Account ID
                            </div>
                        </th>
                        <th>
                            <div class="header_delete">
                                Delete
                            </div>
                        </th>
                    </tr>
                    

                    {% for linked_account in linked_accounts %}

                    <tr>
                        <td>
                            <div class="cell">
                                {{linked_account.name}}
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                {{linked_account.name}}
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                {{linked_account.account_id}}
                            </div>
                        </td>
                        <td>
                        <div class="cell">
                            <a href="{% url 'view_company' %}">{{linked_account.payer.account_id}}</a>
                        </div>
                        </td>
                        <td>
                            <div class="cell">
                                <a href="/delete-linked-account/{{linked_account.account_id}}/">
                                    <img src="{% static '/assets/svg/trash.svg' %}"/>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="pagination">
                <a href="{% url 'view_account' page=previous %}">
                    <img src="{% static '/assets/svg/left-arrow.svg' %}"/>
                </a>

                {% for page in pages %}
                <div {% if page == selected %}  class="page_number selected" {% else %} class="page_number" {% endif %}>
                    <a href="{% url 'view_account' page=page %}">
                        {{ page }}
                    </a>
                </div>
                {% endfor %}
                
                <a href="{% url 'view_account' page=next %}">
                    <img src="{% static '/assets/svg/right-arrow.svg' %}"/>
                </a>
            </div>
        </div>
    </div>
    <div class="create off">
        <div class="create-form">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-field">
                    <div class="field-name">
                        Account ID:
                    </div>
                    <div class="field-input">
                        {{ form.account_id }}
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-name">
                        Name:
                    </div>
                    <div class="field-input">
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-name">
                        Payer:
                    </div>
                    <div class="field-input">
                        <div class="input-wrapper">
                            <div class="custom-select">
                                {{ form.payer }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <button class="cancel-btn" enabled
                     onclick="changeCreateElementOff()">
                        Cancel
                    </button>
                    <div class="submit-btn">
                        <input class="submit" type="submit" value="Create">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <script src="{% static '/assets/scripts/list-options.js' %}" type="text/javascript"></script>   -->
<script src="{% static '/assets/scripts/custom-select.js' %}" type="text/javascript"></script>  
{% endblock %}