{% extends 'layout/base.html' %}

{% load static %}


{% block content %}


<div class="content">
    <div class="view">
        <div class="title">
                <h2>Original CUR Information</h2>
        </div>
        <div class="details">
            <button class="button-r" onclick="changeCreateElementOn()">
                <div class="download">
                    Original CUR Info
                    <img src="{% static '/assets/svg/plus.svg' %}"/>
                </div>
            </button> 
            <div class="table-border">
                <table>
                    <tr>
                        <th>
                            <div class="header_no">
                                No.
                            </div>
                        </th>
                        <th>
                            <div class="header_no">
                                ID
                            </div>
                        </th>
                        <th>
                            <div class="header_no">
                                Bucket Name
                            </div>
                        </th>
                        <th>
                            <div class="header_no">
                                Prefix
                            </div>
                        </th>
                        <th>
                            <div class="column_delete">
                                Delete
                            </div>
                        </th>
                    </tr>
                    

                    {% for storage_info in storage_infos %}

                    <tr>
                        <td>
                            <div class="cell">
                                {{storage_info.id}}
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                {{storage_info.id}}
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                {{storage_info.bucket_name}}
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                {{storage_info.prefix}}
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                <a href="/delete-storage-info/{{storage_info.id}}/">
                                    <img src="{% static '/assets/svg/trash.svg' %}"/>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="pagination">
                <a href="{% url 'view_storage-info' page=previous %}">
                    <img src="{% static '/assets/svg/left-arrow.svg' %}"/>
                </a>

                {% for page in pages %}


                <div {% if page == selected %}  class="page_number selected" {% else %} class="page_number" {% endif %}>

                    {% if page == '...'%}
                    <p>{{ page }}</p>
                    {% else %}
                    <a href="{% url 'view_storage-info' page=page %}">
                        {{ page }}
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
                
                <a href="{% url 'view_storage-info' page=next %}">
                    <img src="{% static '/assets/svg/right-arrow.svg' %}"/>
                </a>
            </div>
        </div>
    </div>
    <div class="create off">
        <div class="create-form">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-field">
                    <div class="field-name">
                        Name:
                    </div>
                    <div class="field-input">
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-name">
                        Bucket Name:
                    </div>
                    <div class="field-input">
                        {{ form.bucket_name }}
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-name">
                        Prefix:
                    </div>
                    <div class="field-input">
                        {{ form.prefix }}
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-name">
                        ARN:
                    </div>
                    <div class="field-input">
                        {{ form.arn }}
                    </div>
                </div>

                <div class="buttons">
                    <button class="cancel-btn" enabled
                     onclick="changeCreateElementOff()">
                        Cancel
                    </button>
                    <div class="submit-btn">
                        <input class="submit" type="submit" value="Create">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
