{% extends 'layout/base.html' %}

{% load static %}


{% block content %}
<div class="content">
    <div class="listing-table"></div>
        <div class="tittle">
                <h2>Existing Output CUR Info</h2>
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Bucket Name</th>
                <th>Payer Account</th>
                <th>Linked Accounts</th>
                <th>Credit</th>
                <th>Refund</th>
                <th>Tax</th>
                <th>Discount</th>
                <th>Blended</th>
            </tr>
            

            {% for report_info in report_infos %}

            <tr>
                <td>{{report_info.id}}</td>
                <td>{{report_info.name}}</td>
                <td>{{report_info.bucket_name}}</td>
                <td>{{report_info.payer.account_id}}</td>
                <td>
                    
                
                    {% for linked_account in report_info.list_acounts %}
                        <p>{{linked_account.account_id}}</p>
                    {% endfor %}

                </td>
                <td>
                    {% if report_info.credit %}
                    Included
                    {% else %}
                    Not Included
                    {% endif %}
                <td>
                    {% if report_info.refund %}
                    Included
                    {% else %}
                    Not Included
                    {% endif %}
                </td>
                <td>
                    {% if report_info.tax %}
                    Included
                    {% else %}
                    Not Included
                    {% endif %}
                </td>
                <td>
                    {% if report_info.discount %}
                    Included
                    {% else %}
                    Not Included
                    {% endif %}
                </td>
                <td>
                    {% if report_info.blended %}
                    Included
                    {% else %}
                    Not Included
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-sm btn-danger" href="/delete-report-info/{{report_info.id}}/">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}